.loginbox {
    width: 370px;
    height: 410px;
    background: #FED43F;
    color: #5E376D;
    margin: 130px auto;
    border-radius: 13px;
}

.logo {
    width: 110px;
    height:110px;
    position: relative;
    top: -70px;
    left: calc(50% - 50px);
}

h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: -70px;
}

label {
    font-family: cursive;
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-left: 20px;
}

input {
    font-family: sans-serif;
    font-weight: bold;
    width: 87%;
    margin: 0 0 20px 20px;
}

input[type="text"],input[type="password"] {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    color: #1B1734;
    font-size: 16px;
}

input[type="submit"] {
    border: none;
    outline: none;
    height: 43px;
    border-radius: 23px;
    background: #fb2525;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 35%;
}

input[type="submit"]:hover{
    background: blueviolet;
}


